.home__searchInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.home__train {
	display: flex;
}

.home__train > h2,
.home__searchBus > h2 {
	margin-bottom: 20px;
}

.home__home__train > input:focus,
.home__searchBus > input:focus {
	outline: none;
}

