.home {
	text-align: center;
	background-color: #dadbd3;
	height: 100vh;
	/* 解決時刻表呈現資料過多導致超出幅度的狀況 */
	overflow-y: scroll;
}

.home > h1 {
	padding: 30px 0;
}

.home__searchInfo {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

.home__searchTrain > h2,
.home__searchBus > h2 {
	margin-bottom: 20px;
}

.home__searchTrain > input,
.home__searchBus > input {
	border-radius: 15px;
	padding: 10px;
	margin-right: 5px;
}

.home__searchTrain > input:focus,
.home__searchBus > input:focus {
	outline: none;
}
